<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="2289Opportunity.E-Viewer" Publisher="CN=Opportunity" Version="2019.2.10.0" />
  <mp:PhoneIdentity PhoneProductId="b0e97c45-19f9-4a1b-9836-fa1508c91c7e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:///Resources/AppDisplayName</DisplayName>
    <PublisherDisplayName>Opportunity</PublisherDisplayName>
    <Logo>Assets/Application/Store.png</Logo>
    <Description>ms-resource:///Resources/AppDescription</Description>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ExViewer.App">
      <uap:VisualElements DisplayName="ms-resource:///Resources/AppDisplayName" Square150x150Logo="Assets/Application/Medium.png" Square44x44Logo="Assets/Application/TaskBar.png" Description="ms-resource:///Resources/AppDescription" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets/Application/Small.png" Wide310x150Logo="Assets/Application/Wide.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets/Application/SplashScreen.png" BackgroundColor="#e7dfca" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appUriHandler">
          <uap3:AppUriHandler>
            <uap3:Host Name="exhentai.org" />
            <uap3:Host Name="e-hentai.org" />
          </uap3:AppUriHandler>
        </uap3:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="e-viewer-data">
            <uap:DisplayName>E-Viewer 数据</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="ExDawnOfDayTask.Task">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://forums.e-hentai.org" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>