<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="2289Opportunity.E-Viewer" Publisher="CN=22AA5D8B-590F-4C7F-807B-5166B66DDBE0" Version="2017.2.7.0" />
  <mp:PhoneIdentity PhoneProductId="ca5aef37-1465-47a1-bdae-765a5500456f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Opportunity</PublisherDisplayName>
    <Logo>Assets/Store.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ExViewer.App">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayName" Square150x150Logo="Assets/Medium.png" Square44x44Logo="Assets/TaskBar.png" Description="ms-resource:AppDescription" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets/Small.png" Wide310x150Logo="Assets/Wide.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets/SplashScreen.png" BackgroundColor="#e7dfca" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appUriHandler">
          <uap3:AppUriHandler>
            <uap3:Host Name="exhentai.org" />
            <uap3:Host Name="e-hentai.org" />
          </uap3:AppUriHandler>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>